header a {
    color: white;
    font-size: 40px;
    margin: 0;
}

main {
    display: flex;
    padding: 16px 32px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    max-height: calc(100vh - 120px);
}

.blog-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 60%;
    overflow-y: scroll;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    min-height: 100%;
    box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
    padding: 16px 32px;
}